@page
@model MyApp.Namespace.IndexModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/site.css">
    <title>Document</title>
</head>
<body>
    <h1>Moja strona INDEX</h1>
    <h3>Lista użytkowników</h3>
    <div>
        <a asp-page="AddUser">dodaj nowego użytkownika</a>
    </div>
    <table>
        <tr>
            <th>Lp</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th></th>
            <!-- -->
        </tr>
        @{
            //Generowanie dynamiczne elementów User
            int lp = 0;
        }
        @foreach(var u in Model.Users){
            lp++;
            <tr>
                <td>@lp</td>
                <td>@u.Firstname</td>
                <td>@u.Lastname</td>
                <td>@u.Age</td>
                <td>
                    <a asp-page="Delete" asp-route-id="@u.Id">
                        Usuwanie
                    </a><br />
                    <a asp-page="Update" asp-route-id="@u.Id">
                        Zmiana danych
                    </a>
                </td>
            </tr>
        }
    </table>
</body>
</html>